[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
astroid = "==2.4.2"
black = "==20.8b1"
certifi = "==2020.11.8"
chardet = "==3.0.4"
click = "==7.1.2"
colorama = "==0.4.4"
fastapi = "==0.68.1"
ftfy = "==5.8"
idna = "==2.10"
isort = "==5.6.4"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
mypy-extensions = "==0.4.3"
numpy = "==1.20.3"
pandas = "==1.2.4"
pathspec = "==0.8.1"
pylint = "==2.6.0"
pytest = "==6.2.4"
python-dateutil = "==2.8.1"
pytz = "==2020.4"
regex = "==2020.11.13"
requests = "==2.25.1"
scipy = "==1.6.3"
six = "==1.15.0"
scikit-learn = "==0.24.2"
sparse-dot-topn = "==0.3.1"
toml = "==0.10.2"
typed-ast = "==1.4.1"
typing-extensions = "==3.7.4.3"
urllib3 = "==1.26.5"
uvicorn = "==0.15.0"
wrapt = "==1.12.1"
Cython = "==0.29.21"
aiofiles = "*"
jinja2 = "*"
python-multipart = "*"
pydantic = "*"
thefuzz = "*"
python-levenshtein = "*"
terminable-thread = "*"

[dev-packages]

[requires]
python_version = "3.8"
